/data/ApneaDetection_SimulatedSignals
*.pth
/__pycache__
/src/__pycache__
/.vscode
*.edf
*.xml
/.vscode
/models/modelo_senalesreales
*.png
*.txt
/src CNN/__pycache__
*.pkl
/src paper/__pycache__
*.png
